<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title id="List of components">Case</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header1" style="margin-bottom: 135px; display: block;"></header>
<div class="input-group mb-3" style="width: 20%;min-width: 180px;margin-left: 8%;">
    <input type="text" class="form-control" placeholder="Search component by name" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="requiredName()">Find</button>
    </div>
</div>

<div class="container mt-5">
    <span style="display: block;margin-bottom: 8px;font-weight: 500">Choose currency :</span>
    <input type="radio" id="dollar" onchange="currency()" name="currency" checked>
    <label for="dollar" style="font-size: 15px;">$ (USD-dollar)</label>
    <br>
    <input type="radio" id="hryvnia" onchange="currency()" name="currency">
    <label for="hryvnia" style="font-size: 15px;">₴ (UAH-hryvnia)</label>
    <div style="margin-top:-81px; margin-left: 230px;" id="sortBy">
        <span style="display: block;margin-bottom: 10px;font-weight: 500">Sort price by :</span>
        <button class="input-group-text" style="display: inline" onclick="sortByPrice('less_to_bigger')">Growth ↑</button>
        <button class="input-group-text" style="display: inline" onclick="sortByPrice('bigger_to_less')">Decrease ↓</button>
    </div>
</div>

<div class="container mt-5">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="range-field">
                <input type="range" min="2015" max="2022" th:value="2015" id="yearMin" onchange="changeSliderValue('yearMin','yearMinSpan')">
                <span id="yearMinSpan">2015</span>
            </div>
        </div>
        <br>
        <div class="range-field">
            <input type="range" min="2015" max="2022" th:value="2022" id="yearMax" onchange="changeSliderValue('yearMax','yearMaxSpan')"/>
            <span id="yearMaxSpan">2022</span>
        </div>
    </div>
</div>

<div id="price" style="width: 60%;">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price</h5>
    <div class="row">
        <div class="col-md-6">
            <div class="range-field">
                <input type="range" th:step="50" min="0" max="2000" th:value="0" id="priceMin" onchange="changeSliderValue('priceMin','priceMinSpan')">
                <span id="priceMinSpan">0</span>
            </div>
        </div>
        <br>
        <div class="range-field">
            <input type="range" th:step="50" min="0" max="2000" th:value="2000" id="priceMax" onchange="changeSliderValue('priceMax','priceMaxSpan')"/>
            <span id="priceMaxSpan">2000</span>
        </div>
    </div>
</div>

<div id="type">
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;Type</h5>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkedBlack" checked>
        <label class="form-check-label" for="checkedBlack">
            Black
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkedWhite" checked>
        <label class="form-check-label" for="checkedWhite">
            White
        </label>
    </div>
</div>

<div id="resultSet" style="display: none;text-align: center;margin-top: 60px; margin-left: auto;margin-right: auto;">
    <h4>No results yet</h4>
</div>

<div class="container mt-5">
    <!--цикл для виводу інформації про кожну з статей-->
    <div th:each="element : ${caseComponents}" class="alert alert-info mt-2">
        <h3 th:text="${element.getName()}"></h3>
        <h3 th:text="${element.getPrice()} + '$'" style="float:right;"></h3>
        <p>Type :
            <span th:text="${element.getType()}"></span>
            &nbsp;&nbsp;&nbsp;Color :
            <span th:text="${element.getColor()}"></span>
            &nbsp;&nbsp;&nbsp;Year :
            <span th:text="${element.getYear()}"></span>
        </p>
        <a th:href="'/list/case/' + ${element.getId()}" class="btn btn-dark">More details</a>
    </div>
</div>
<footer th:insert="blocks/footer :: footer1" style="margin-top: 150px;"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/navbar_active.js}"></script>
<script type="text/javascript" th:src="@{/js/comp_details/search_field_all.js}"></script>
<script type="text/javascript" th:src="@{/js/comp_details/case/searchCase.js}"></script>
<script type="text/javascript" th:src="@{/js/comp_details/currency.js}"></script>
</body>
</html>