img.fireImageAbout{
    display: block;
    margin-top: -70px;
    margin-left: 350px;
}

img.verticalHorizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-content {
    padding: 0px 15px 15px 15px;
}
.border-team {
    border-bottom:1px solid #e2e2e2;
    margin-bottom:10px;
}

.team-img {
    border: 1px solid #999999;
    border-radius: 4px;
}

.team-img:hover {
    background:#f5f5f5;
}


/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.paddingTB60 {
    padding-top:60px;
    padding-bottom:20px;
}

.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
}

.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

h3 {
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}
h4 { font-size: 19px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}

.map-box-contact {
    position: relative;
    display: block;
    background: url("../image/about_us/about_us_contacts.jpg");
    height: auto;
    padding: 30px 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.map-box-contact__menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.map-box-contact__h3 {
    color: #000;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px 0;
}

.map-box-adress__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #000;
    line-height: 25px;
}
.map-box-tel-email {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
@media (min-width: 990px) {

    .map-box-contact {
        width: 65%;
        max-width: 100%;
        margin: 0 auto 0 auto;
        padding: 90px 40px;
        top: 20%;
    }
}