.leftBigMargin{
    margin: 100px 0 0 100px;
}

.leftLowMargin{
    margin: 40px 150px 0 100px;
}

img.fireImageAbout{
    display: block;
    margin-top: -70px;
    margin-left: 350px;
}

img.verticalHorizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}