<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title id="Home">Home page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <header th:insert="blocks/header :: header1"></header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="marginListText">
        <h2>What is a "computer"?</h2>
    </div>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        A computer is a digital electronic machine that can be programmed to carry out sequences of
        arithmetic or logical operations (computation) automatically. Modern computers can perform
        generic sets of operations known as programs. These programs enable computers to perform a
        wide range of tasks. A computer system is a "complete" computer that includes the hardware,
        operating system (main software), and peripheral equipment needed and used for "full" operation.
        This term may also refer to a group of computers that are linked and function together,
        such as a computer network or computer cluster.
    </p>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        A broad range of industrial and consumer products use computers as control systems. Simple
        special-purpose devices like microwave ovens and remote controls are included, as are
        factory devices like industrial robots and computer-aided design, as well as general-purpose
        devices like personal computers and mobile devices like smartphones. Computers power the Internet,
        which links billions of other computers and users.
    </p>
    <br>
    <br>
    <figure class="marginListText">
        <img th:src="@{/image/home/first_pc.png}">
        <figcaption style="font-weight: bold; display: block; margin: 10px 0 0 0;">Picture 1. First EOM-machines</figcaption>
    </figure>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        Early computers were meant to be used only for calculations. Simple manual instruments like the
        abacus have aided people in doing calculations since ancient times. Early in the Industrial Revolution,
        some mechanical devices were built to automate long tedious tasks, such as guiding patterns for looms.
        More sophisticated electrical machines did specialized analog calculations in the early 20th century.
        The first digital electronic calculating machines were developed during World War II.
    </p>
    <br>
    <br>
    <br>
    <br>
    <div class="marginListText">
        <h2>Modern computers</h2>
    </div>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        The principle of the modern computer was proposed by Alan Turing in his seminal 1936 paper,
        On Computable Numbers. Turing proposed a simple device that he called "Universal Computing machine"
        and that is now known as a universal Turing machine. He proved that such a machine is capable of
        computing anything that is computable by executing instructions (program) stored on tape, allowing
        the machine to be programmable. The fundamental concept of Turing's design is the stored program,
        where all the instructions for computing are stored in memory. Von Neumann acknowledged that the central
        concept of the modern computer was due to this paper. Turing machines are to this day a central
        object of study in theory of computation. Except for the limitations imposed by their finite memory stores,
        modern computers are said to be Turing-complete, which is to say, they have algorithm execution capability
        equivalent to a universal Turing machine.
    </p>
    <br>
    <br>
    <figure class="marginListText">
        <img th:src="@{/image/home/turing.png}" width="500" height="281">
        <figcaption style="font-weight: bold; display: block; margin: 10px 0 0 0;">Picture 2. Concept of a "Turing machine"</figcaption>
    </figure>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        Von Neumann acknowledged that the central concept of the modern computer was due to this paper. Turing machines
        are to this day a central object of study in theory of computation. Except for the limitations imposed by their
        finite memory stores, modern computers are said to be Turing-complete, which is to say, they have algorithm
        execution capability equivalent to a universal Turing machine.
    </p>
    <br>
    <br>
    <figure class="marginListText">
        <img th:src="@{/image/home/architecture.png}" width="500" height="289">
        <figcaption style="font-weight: bold; display: block; margin: 10px 0 0 0;">Picture 3. Von Neumann architecture</figcaption>
    </figure>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        Today, computers do jobs that used to be complicated much simpler. For example, you can write a letter
        in a word processor, edit it anytime, spell check, print copies, and send it to someone across the world
        in seconds. All these activities would have taken someone days, if not months, to do before. Also,
        these examples are a small fraction of what computers can do. The network connecting these computers has its
        own challenges. On the one hand, data transmission rates for both wired and wireless networks are increasing
        rapidly. Access to gigabit-per-second wired net sis already possible, although expensive,and will
        come progressively  cheaper. Small wireless networks,based on digital cellular telephone principles,
        currently offer data rates between two and 10 megabits per second over a range of a few hundred meters.
        Low-power wireless networks transmitting 250,000 bits per second to each station will eventually
        be available commercially.
    </p>
    <br>
    <br>
    <br>
    <br>
    <div class="marginListText">
        <h2>Types of computer components</h2>
    </div>
    <br>
    <p class="marginListText" style="margin: 0 10% 0 10%">
        Computer hardware includes the physical parts of a computer, such as the case, central processing unit (CPU),
        random access memory (RAM), monitor, mouse, keyboard, computer data storage, graphics card, sound card,
        speakers and motherboard. By contrast, software is the set of instructions that can be stored and run by
        hardware. Hardware is so-termed because it is "hard" or rigid with respect to changes,
        whereas software is "soft" because it is easy to change. Hardware is typically directed by the software
        to execute any command or instruction. A combination of hardware and software forms a usable computing
        system, although other systems exist with only hardware.
    </p>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Case</span>
        <br>
        The computer case encloses most of the components of the system. It provides mechanical support and protection
        for internal elements such as the motherboard, disk drives, and power supplies, and controls and directs the
        flow of cooling air over internal components. The case is also part of the system to control electromagnetic
        interference radiated by the computer and protects internal parts from electrostatic discharge.
        Large tower cases provide space for multiple disk drives or other peripherals and usually stand on the floor,
        while desktop cases provide less expansion room.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">CPU</span>
        <br>
        The Core Processing Unit (CPU) is often called the brains of the computer. It is one of several processing
        units but is arguably the most essential. The CPU performs calculations, actions, and runs programs.
        In older computers, these functions were split across multiple processors. But, manufacturing and design
        improvements mean that the entire CPU can fit onto a single chip. This is why you'll
        sometimes hear CPUs referred to as microprocessors, too. These smaller sizes have meant we can reduce
        computers' size to all-in-one devices and have thinner, lighter laptops. These powerful processors are also
        central to your smartphone's performance. There have been a lot of improvements over the years since the
        first CPUs came on the scene. Despite that, the primary function of the CPU has remained the same
        consisting of three steps; fetch, decode, and execute.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">GPU card</span>
        <br>
        A GPU card is an expansion card which generates a feed of output images to a display device
        (such as a computer monitor). Frequently, these are advertised as discrete or dedicated graphics cards,
        emphasizing the distinction between these and integrated graphics. At the core of both is the graphics
        processing unit (GPU), which is the main component that performs computations, but should not be confused
        with the graphics card as a whole, although "GPU" is often used as a metonymic shorthand to refer to
        graphics cards. Most graphics cards are not limited to simple display output. Their integrated graphics
        processor can perform additional processing, removing this task from the central processor of the computer.
        For example, Nvidia and AMD (previously ATI) produced cards that render the graphics pipelines OpenGL and
        DirectX on the hardware level. Graphics cards are used extensively for AI training, cryptocurrency
        mining and molecular simulation.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Memory</span>
        <br>
        It's a form of computer memory that can be read and changed in any order, typically used to store working
        data and machine code. A random-access memory device allows data items to be read or written in almost the
        same amount of time irrespective of the physical location of data inside the memory, in contrast with
        other direct-access data storage media, where the time required to read and write data items
        varies significantly depending on their physical locations on the recording medium, due to mechanical
        limitations such as media rotation speeds and arm movement. In today's technology,
        random-access memory takes the form of integrated circuit (IC) chips with MOS (metal-oxide-semiconductor)
        memory cells. RAM is normally associated with volatile types of memory, where stored information is lost
        if power is removed, although non-volatile RAM has also been developed.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Power supply</span>
        <br>
        A power supply is an electrical device that supplies electric power to an electrical load. The main purpose
        of a power supply is to convert electric current from a source to the correct voltage, current, and frequency
        to power the load. As a result, power supplies are sometimes referred to as electric power converters.
        Some power supplies are separate standalone pieces of equipment, while others are built into the load
        appliances that they power. Examples of the latter include power supplies found in desktop computers and
        consumer electronics devices. Other functions that power supplies may perform include limiting the current
        drawn by the load to safe levels, shutting off the current in the event of an electrical fault, power
        conditioning to prevent electronic noise or voltage surges on the input from reaching the load,
        power-factor correction, and storing energy, so it can continue to power the load in the event of a
        temporary interruption in the source power (uninterruptible power supply).
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Cooler</span>
        <br>
        Computer cooling is required to remove the waste heat produced by computer components, to keep components
        within permissible operating temperature limits. Components that are susceptible to temporary malfunction
        or permanent failure if overheated include integrated circuits such as central processing units (CPUs),
        chipsets, graphics cards, and hard disk drives. Components are often designed to generate as little heat
        as possible, and computers and operating systems may be designed to reduce power consumption and consequent
        heating according to workload, but more heat may still be produced than can be removed without attention to
        cooling. Use of heatsinks cooled by airflow reduces the temperature rise produced by a given amount of heat.
        Attention to patterns of airflow can prevent the development of hotspots.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Motherboard</span>
        <br>
        A motherboard is the main printed circuit board (PCB) in general-purpose computers and other expandable
        systems. It holds and allows communication between many of the crucial electronic components of a system,
        such as the central processing unit (CPU) and memory, and provides connectors for other peripherals.
        Unlike a backplane, a motherboard usually contains significant sub-systems, such as the central processor,
        the chipset's input/output and memory controllers, interface connectors, and other components integrated
        for general use. Motherboard means specifically a PCB with expansion capabilities. As the name suggests,
        this board is often referred to as the "mother" of all components attached to it, which often include
        peripherals, interface cards, and daughterboards: sound cards, video cards, network cards, host bus
        adapters, TV tuner cards, IEEE 1394 cards; and a variety of other custom components.
    </p>
    <br>
    <br>
    <p style="margin: 0 10% 0 10%;">
        <span style="font-weight: bold;">Storage devices</span>
        <br>
        A storage device is any type of computing hardware that is used for storing, porting or extracting data
        files and objects. Storage devices can hold and store information both temporarily and permanently.
        They may be internal or external to a computer, server or computing device. They store virtually all
        of the data and applications on a computer, except for hardware firmware which is generally managed
        through separate read-only memory or ROM. For ROM there are 2 types of storage devices : Hard Drive Disks
        (HDD) and Solid-State Drives(SSD).
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer th:insert="blocks/footer :: footer1"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/navbar_active.js}"></script>
</body>
</html>