<footer th:fragment="footer1" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/dmytro-dykyi-a896a3233/" role="button"
            ><i class="fab">
                <img src="https://cdn-icons-png.flaticon.com/512/38/38669.png" width="20" height="20">
            </i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/defr0stt" role="button"
            ><i class="fab">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="20" height="20">
            </i
            ></a>
            <p>Email address : martinborulia04@gmail.com</p>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022  Dmytro Dykyi
    </div>
    <!-- Copyright -->
</footer>