<!--header варіант №1-->
<nav th:fragment="header1" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
        <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"></path>
      </svg>
      Computer components &nbsp; &nbsp;
    </span>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" id="home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="list" role="button" data-bs-toggle="dropdown" aria-expanded="false">List of components</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/list">All components</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/list/cpu">CPU</a></li>
            <li><a class="dropdown-item" href="/list/gpu">GPU card</a></li>
            <li><a class="dropdown-item" href="/list/memory">Memory</a></li>
            <li><a class="dropdown-item" href="/list/motherboard">Motherboard</a></li>
            <li><a class="dropdown-item" href="/list/case">PC case</a></li>
            <li><a class="dropdown-item" href="/list/hardware">Storage</a></li>
            <li><a class="dropdown-item" href="/list/cooler">Cooler</a></li>
            <li><a class="dropdown-item" href="/list/os">OS</a></li>
            <li><a class="dropdown-item" href="/list/power_supply">Power supply</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/compare" id="compare">Compare components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="about">About us</a>
        </li>
      </ul>
    </div>

      <div class="navbar-nav" style="float: right;">
        <a id="log_page" href="/login" class="nav-link" style="">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"></path>
          </svg>
          Profile
        </a>
      </div>

  </div>
</nav>